extends ../shared/template
block title
  h1 show page
block content
  h1= 'Welcome ' + alien.name +' to Visit Earth!'

    img.img-responsive.thumbnail.alien(src=alien.photo)
    img.img-responsive.thumbnail.alien(src=alien.planet)
